<h1>Welcome to HRonos</h1>

<p><%= link_to 'Employee Panel', 'employee_portal'%></p>
<p><%= link_to 'Manager Panel', 'manager_portal'%></p>
<p><%= link_to 'Admin Panel', controller: 'admin' %></p>
<p><%= link_to 'Manager/HR Panel', controller: 'manager_panel' %></p>

